<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-model="name">name: {{name}} age: {{age}}</div>
      <input type="text" v-model="name">
    </div>
  </body>
  <script type="module">
    import Vue from './vue.js'
      let vm = new Vue({
        el: document.querySelector('#app'),
        data: {
          name: 'leone',
          age: 24
        }
      })

      setTimeout(function () {
        vm.name = 'natie'
        vm.age = 23
      }, 2000)
  </script>
</html>
